@font-face {
  font-family: Alavine;
  src: url('/public/fonts/AlavineDemoRegular-3la3z.otf');
}

@font-face {
  font-family: LCD;
  src: url('/public/fonts/LcdSolid-VPzB.ttf');
}

@font-face {
  font-family: Summer Pixel;
  src: url('/public/fonts/SummerPixel22Regular-jE0W7.ttf');
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: light-dark(#ffffffde, #000000de);
  background-color: light-dark(#242424, #000000);

  background-image: url('../public/ninSF_BG_sample.png');
  background-size: cover;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  margin: 0;
  height: 100dvh !important;
}

@media (min-width: 768px) {
  canvas {
    transform: translateX(-20%);
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}